[Desktop Entry]
Name=photomanager
Name[ast]=photomanager
Name[bg]=photomanager
Name[bs]=photomanager
Name[ca]=photomanager
Name[ca@valencia]=photomanager
Name[cs]=photomanager
Name[da]=photomanager
Name[de]=photomanager
Name[el]=photomanager
Name[en_GB]=photomanager
Name[eo]=photomanager
Name[es]=photomanager
Name[et]=photomanager
Name[fi]=photomanager
Name[fr]=photomanager
Name[ga]=photomanager
Name[gl]=photomanager
Name[hu]=photomanager
Name[it]=photomanager
Name[ja]=photomanager
Name[kk]=photomanager
Name[km]=photomanager
Name[ko]=photomanager
Name[lv]=photomanager
Name[nb]=photomanager
Name[nds]=photomanager
Name[nl]=photomanager
Name[nn]=photomanager
Name[pa]=photomanager
Name[pl]=photomanager
Name[pt]=photomanager
Name[pt_BR]=photomanager
Name[ro]=photomanager
Name[ru]=photomanager
Name[sq]=photomanager
Name[sr]=photomanager
Name[sr@ijekavian]=photomanager
Name[sr@ijekavianlatin]=photomanager
Name[sr@latin]=photomanager
Name[sv]=photomanager
Name[tr]=photomanager
Name[ug]=photomanager
Name[uk]=photomanager
Name[x-test]=xxphotomanagerxx
Name[zh_CN]=photomanager
Name[zh_TW]=photomanager
Exec=photomanager %i -caption "%c"
Icon=photomanager
Type=Application
X-DocPath=photomanager/index.html
GenericName=A KDE4 Application
GenericName[ast]=Una aplicación de KDE4
GenericName[bg]=Програма за KDE4
GenericName[bs]=KDE4 aplikacija
GenericName[ca]=Una aplicació del KDE4
GenericName[ca@valencia]=Una aplicació del KDE4
GenericName[cs]=Aplikace prostředí KDE
GenericName[da]=Et KDE4-program
GenericName[de]=Eine KDE-4-Anwendung
GenericName[el]=Μια εφαρμογή KDE4
GenericName[en_GB]=A KDE4 Application
GenericName[es]=Una aplicación de KDE4
GenericName[et]=KDE4 rakendus
GenericName[fi]=KDE4-sovellus
GenericName[fr]=Une application pour KDE4
GenericName[ga]=Feidhmchlár KDE4
GenericName[gl]=Un programa de KDE4
GenericName[hu]=KDE4-alkalmazás
GenericName[it]=Un'applicazione di KDE 4
GenericName[ja]=KDE 4 アプリケーション
GenericName[kk]=KDE4 қолданбасы
GenericName[km]=កម្មវិធី KDE4
GenericName[ko]=KDE4 프로그램
GenericName[lv]=KDE4 lietotne
GenericName[nb]=Et KDE4-program
GenericName[nds]=En KDE4-Programm
GenericName[nl]=Een KDE4-programma
GenericName[nn]=Eit KDE 4-program
GenericName[pa]=KDE4 ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program dla KDE4
GenericName[pt]=Uma Aplicação do KDE4
GenericName[pt_BR]=Um aplicativo do KDE4
GenericName[ro]=O aplicație KDE4
GenericName[ru]=Приложение KDE4
GenericName[sq]=Një Program KDE 4
GenericName[sr]=КДЕ‑4 програм
GenericName[sr@ijekavian]=КДЕ‑4 програм
GenericName[sr@ijekavianlatin]=KDE4 program
GenericName[sr@latin]=KDE4 program
GenericName[sv]=Ett KDE4-program
GenericName[tr]=Bir KDE4 Uygulaması
GenericName[ug]=ك د ئې(KDE) 4 پروگراممىسى
GenericName[uk]=Програма для KDE4
GenericName[x-test]=xxA KDE4 Applicationxx
GenericName[zh_CN]=KDE4 应用程序
GenericName[zh_TW]=KDE4 應用程式
Terminal=false
